h1,
h2,
h3 {
  font-family: $display;
  margin: 1.5rem 0 1rem 0;
  line-height: 1.5;
}

h1 a,
h1 a:visited,
h2 a,
h2 a:visited,
h3 a,
h3 a:visited,
a h1,
a h2,
a h3 {
  color: #222;
  text-decoration: none;
}
